.meals {
    margin: 20px 0;
  }
  
  .meals-header {
    display: flex;
    line-height: 24px;
    font-size: 16px;
    padding: 0 10px;
    justify-content: space-between;
  }
  
  .meals-header > span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
  }